@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<div class="text-center">
  <h1>Edit @Html.DisplayFor(model => model.Type)'s Details</h1>

  <div class="form">
    @using (Html.BeginForm()){
      @Html.HiddenFor(model => model.MachineId)

      @Html.LabelFor(model => model.Type)
      @Html.EditorFor(model => model.Type, new { @class="form-control" })
      <br>
      @Html.LabelFor(model => model.Installation)
      @Html.EditorFor(model => model.Installation, new { @type="date", @class="form-control" })
      <br>
      @Html.LabelFor(model => model.Description)
      @Html.EditorFor(model => model.Description, new { @class="form-control" })
      <br>
      @Html.Label("Engineers that are licensed to repaired this Machine")
      @Html.DropDownList("EngineerId", null, new { @class="form-control" })
      <br>
      <button type="submit" class="btn btn-default">Save Changes</button>
    }
  </div>
</div>