@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<div class="text-center">
<h1>Add a Sneuss Factory Engineer</h1>

  <div class="form">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class ="form-control", required="required" })

      @Html.LabelFor(model => model.HireDate)
      @Html.TextBoxFor(model => model.HireDate, new { @type="date", @class ="form-control", required="required" })

      @Html.Label("Machines Engineer is Licensed to Repair")
      @Html.DropDownList("MachineId", null, new { @class="form-control" })

      <button type="submit" class="btn btn-default">Add Engineer</button>
    }
  </div>
</div>