@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="text-center">
  <h1>Engineer Details</h1>

  <div class="engineer-details">
    <p>Name: @Html.DisplayFor(model => model.Name)</p>
    <p>Employee ID: @Html.DisplayFor(model => model.EngineerId)</p>
    <p>Hire Date: @Html.DisplayFor(model => model.HireDate)</p>
    @* styling goal = hide timestamp *@
    <button>@Html.ActionLink("Edit Details", "Edit", new { id = Model.EngineerId })</button>
  </div>

  @if(Model.Machines.Count == 0)
  {
    <p>This Engineer has not worked on any machines yet.</p>
  }
  else
  {
    <h4>Machines this Engineer is licensed to repair:</h4>
    <ul>
      @foreach(var join in Model.Machines)
      {
        <li class="machine-list">@join.Engineer.Name</li>
      }
    </ul>
  }
</div>