@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<div class="text-center">
  <h1>Edit @Html.DisplayFor(model => model.Name)'s Details</h1>

  <div class="form">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.EngineerId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name, new { @class="form-control" })
      <br>
      @Html.LabelFor(model => model.HireDate)
      @Html.EditorFor(model => model.HireDate, new { @type="date", @class="form-control"})
      <br>
      @Html.Label("Machines Engineer is Licensed to Repair")
      @Html.DropDownList("MachineId", null, new { @class="form-control" })
      <br>
      <button type="submit" class="btn btn-default">Save Changes</button>
    }
  </div>
    @* fix spacing on this page *@
</div>